.homeContainerH {
  /* z-index: 2; */
  display: flex;
  width: 100%;
  flex-direction: column;
}

.sidebarContainerH {
  display: none;
}

.rightbarContainerH {
  display: none;
}

/* wider than 800px */
@media screen and (min-width: 800px) {
  .homeContainerH {
    flex-direction: row;
  }

  .rightbarContainerH {
    display: block;
  }
}

/* wider than 1100px */
@media screen and (min-width: 1100px) {
  .sidebarContainerH {
    display: block;
  }
}
