.profile {
  display: flex;
  flex-direction: column;
}

.profileRight {
  flex: 9;
}

.profileCover {
  z-index: auto;
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

.sidebarContainerProfile {
  display: none;
}

.rightbarContainerProfile {
  display: none;
}

.userImgEdit {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* background-color: limegreen; */
  position: absolute;
  top: 165px;
  left: 0;
  right: -85px;
  margin: auto;
  /* border: 2px solid white; */
}

.coverImgEdit {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* background-color: pink; */
  position: absolute;
  top: 2px;
  right: 15px;
  /* border: 2px solid white; */
}

.descEdit {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 405px;
  right: 25px;
}

.editImg {
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
}

.editImg:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.descForm {
  /* border: none; */
  width: 80%;
}

.descForm:focus {
  /* outline: none; */
  font-size: 14px;
}

.messageboardC {
  z-index: 100;
  background-color: white;
  box-shadow: 5px 5px 5px #e6e6e6, -2px -2px 2px #e6e6e6;
  border-radius: 10px;
  width: 320px;
  height: 100px;
  position: absolute;
  top: 100px;
  right: 15px;
}

.messageboardU {
  z-index: 100;
  background-color: white;
  box-shadow: 5px 5px 5px #e6e6e6, -2px -2px 2px #e6e6e6;
  border-radius: 10px;
  width: 320px;
  height: 100px;
  position: absolute;
  top: 300px;
  right: 15px;
}

.buttons {
  position: relative;
}

.buttonsDesc {
  margin-top: 5px;
}

.uploadButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.cancelButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: red;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

/* wider than 800px */
@media screen and (min-width: 800px) {
  .profile {
    flex-direction: row;
  }

  .rightbarContainerProfile {
    display: block;
  }

  .descForm {
    /* border: none; */
    width: 50%;
  }
}

/* wider than 1100px */
@media screen and (min-width: 1100px) {
  .sidebarContainerProfile {
    display: block;
  }
}
